<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
        integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css"
        integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  
    <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
        integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous">
        </script>
  
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./img/telegram-header.png">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Tangerine">

    <style>
      body {
        font-family: 'Poppins', serif;
      }
    </style>
  
</head>

  
<body>

  <div class="header">
      <div style="margin: 0px 15px;">
          <img src="https://is3-ssl.mzstatic.com/image/thumb/Purple112/v4/78/d0/54/78d054c6-eaac-a023-5757-0f05e1b4faac/AppIcon-0-0-85-220-0-0-0-0-4-0-0-0-2x-sRGB-0-0-0-0-0.png/1200x630bb.png" width="60px" height="60px">
      </div>
      <p style="margin-bottom: 0px;">Telegram Connector</p>      
  </div>

  <div class="content">
    <div class="left-panel">

      <div class="info-box" style="text-align: center;">
        <h7>Receive Telegram bot conversations in your Tiledesk dashboard. Seamlessly Chat with your targeted audience on Telegram right from the Tiledesk dashboard.</h7>
      </div>

      
      <div style="min-width: 600px; max-width: 900px; text-align: center;">
        <img src="https://media-exp1.licdn.com/dms/image/C4D22AQGkQl5C_lLEpQ/feedshare-shrink_1280/0/1659951879126?e=1668038400&v=beta&t=yCmy4xWVif_wWjXOWGDldexl4khHAGQsdAfSioNH_pY" style="width: 600px; border-radius: 10px"/>
      </div>

      <!-- INFO BOX -->
      <div class="info-box">

          <ul>
            <div class="list-element">
              <img src="https://cdn-icons-png.flaticon.com/512/1443/1443000.png" width=20 height=20 style="margin-right: 10px;"/>
              <h7>Integrate Telegram bot with Tiledesk</h7>
            </div>
            <div class="list-element">
              <img src="https://cdn-icons-png.flaticon.com/512/1443/1443000.png" width=20 height=20 style="margin-right: 10px;"/>
              <h7>Once a chat is initiated on Telegram bot, receive an alert on your Tiledesk account</h7>
            </div>
            <div class="list-element">
              <img src="https://cdn-icons-png.flaticon.com/512/1443/1443000.png" width=20 height=20 style="margin-right: 10px;"/>
              <h7>Enable instant messaging and answer multiple conversations - everything from Tiledesk account</h7>
            </div>
          </ul>
        
      </div>


      <!-- DOCUMENTATIONS URL -->
      <div class="docs-section">
        
      
      <p style="margin-top: 40px; font-size: 18px; font-weight: 600;">Before you start</p>
      <hr style="margin-top: 12px; margin-bottom: 12px; width: 600px; margin-left: 0px">
      <div style="padding: 20px; background-color: aliceblue; border-radius: 8px; width: 600px;">
        <div style="display: flex; flex-direction: row; align-items: baseline;">
          <div>
            <img src="https://freeiconshop.com/wp-content/uploads/edd/arrow-flat.png" width="20px" height="auto" style="margin-right: 10px;"> 
          </div>
          <div>
            <a href="https://gethelp.tiledesk.com/articles/telegram/" target="_blank">Connect Tildesk with Telegram</a>
            <p style="color: grey;">A small but very useful guide on how to connect your Telegram bot to Tiledesk</p>
          </div>
        </div>
      </div>

        </div>


      
    </div>

    
    <div class="vertical-divider"></div>

    
    <div class="right-panel">
      <div>

        <!-- DISCONNECT BUTTON -->
        {{#if telegram_token}}
        <div>
          <p style="color: rgb(140, 140, 140);">The Telegram App is configured on your Tildesk project.</p>
          <form action="./disconnect" method="post">
            <input type="hidden" name="project_id" value="{{ project_id }}">
            <input type="hidden" name="app_id" value="{{ app_id }}">
            <input type="hidden" name="token" value="{{ token }}">
            <input type="hidden" name="subscriptionId" value="{{ subscriptionId }}">
            <input type="submit" class="btn btn-danger" style="margin-top: 10px; width: 160px;" value="Disconnect">
          </form>
        </div>
        {{else}}
          <p style="color: rgb(140, 140, 140);">The Telegram app is not yet configured on your Tildesk project.</p>
        {{/if}}
        
        <h4 style="margin-top: 40px;">Your Configuration</h4>
    
        <div style="min-width: 600px">
          <form action="./update" method="post">
    
              <div class="form-group" style="width: 500px;">
                  <label for="bot_name">Bot Name</label>
                  <input type="text" class="form-control" name="bot_name" value="{{ bot_name }}"
                      placeholder="Enter Bot Name">
              </div>
    
              <div class="form-group" style="width: 500px;">
                  <label for="tg_token">Telegram Token</label>
                  <input type="text" class="form-control" name="telegram_token" value="{{ telegram_token }}"
                      placeholder="Enter your bot authentication token">
              </div>
    
              <input type="hidden" name="project_id" value="{{ project_id }}" />
              <input type="hidden" name="token" value="{{ token }}" />
    
              {{#if telegram_token}}
              <div style="width: 500px; text-align: right;">
                  <input type="submit" class="btn" style="width: 200px; background-color: #0ba2dc; color: white; font-weight: 500;" value="Update">
              </div>
              {{else}}
              <div style="width: 500px; text-align: right;">
                <input type="submit" class="btn" style="width: 200px; background-color: #0ba2dc; color: white; font-weight: 500;" value="Connect">
              </div>
              {{/if}}
    
          </form>
        </div> 
      </div>
    </div>
  </div>


</body>